/*whole page*/
*{
    margin: 0px;
    box-sizing: border-box;
    font-family:Arial, sans-serif;
}
a:hover{
    text-decoration: underline;
}
/*header*/
header{
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    font-family: arial, sans-serif;
    font-size: 13px;
    opacity: 0.8;
    color: #5f6368;
}
header a {
    margin: 5px;
    color: black;
    text-decoration: none;
}
#sign-in{
    border-radius: 2px;
    padding: 9px 14px;
    background-color: rgb(33, 87, 235);
    color: white;
    font-weight: bold;
}
#app-icon{
    position: relative;
    top: 8px;
    opacity: 0.7;
}
#app-icon:hover{
    opacity: 1;
}
#hbloc1{
    position: relative;
    top: 10px;
}

/*Main*/
/*Footer*/
footer{
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 25px;
    background-color: #f2f2f2;
}
footer a{
    color: black;
    text-decoration: none;
    margin: 0px 12px;
    color: #5f6368;
    font-size: 14px;
}